.HomeHeroSection-container{
    /* font-family:"Lateef", serif; */
    padding-bottom: 2rem;
}


@media (max-width: 900px) {
  .HomeHeroSection-container{
    
    padding:1rem 1rem;
    padding-top: 3rem;
    height: 100%;
   display: block;
    } 
    .homeherosection-img{
        display: block;
        width: 100%;
        margin-right: 0;
    }
    .homeherosection-title{
        text-align: justify;
        font-size: 2rem;
      width: 90%;
    }
    .homeherosection-book{
        font-size: 2.5rem;
    }
    .homeherosection-subtitle{
       text-align: justify;
        font-size: 2rem;
       width: 70%;
    }
    .homeherosection-title-cont{
 
        
  
        margin-left: auto;
        margin-right: auto;
   
    }

}